/*
RESETEAR 
*/
* {
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f8f8;
}

/*
FORMULARIO
*/
.container-form {
  background-color: #f8f8f8;
  padding: 100px;
  height: auto;
  overflow: hidden;
}
.container-form h5 {
  text-align: center;
  width: 100%;
  padding: 5px;
  font-size: 3rem;
}

#form label {
  text-align: center !important;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-weight: lighter;
}

.container-form #form {
  max-width: 600px;
  margin: 0 auto;
}

#formSuccess {
  background-color: #d4edd4;
  border-radius: 16px;
}

.form-control:focus {
  border-color: #ff8906;
}

/*
INPUTS TYPE RADIO
*/
input[type="radio"] {
  width: 2px;
  border-radius: 100%;
  margin-top: 20px;
}

/*
LABELS
*/
label .active {
  background-color: #f8f8f8;
  border-radius: 100%;
  margin-top: 20px;
}

/*
BOTONES
*/

.btn-outline-primary {
  --bs-btn-color: #ff8906;
  --bs-btn-active-border-color: #f25f4c;
  --bs-btn-active-bg: #ff8906;
  /*Sombra al enfocar*/
  --bs-btn-focus-shadow-rgb: 255, 137, 6;
  border-color: #f25f4c;
}

.btn:hover {
  background-color: #ff8906;
  border-color: #f25f4c;
}

.btn-primary {
  background-color: #ff8906;
  --bs-btn-border-color: #f25f4c;
  --bs-btn-hover-border-color: #f25f4c !important;
  --bs-btn-hover-bg: #f25f4c !important;
  --bs-btn-focus-shadow-rgb: 255, 137, 6;
  color: white;
}

.btn-lg:hover {
  background-color: #f25f4c;
  border-color: #ff8906;
}
